html
{
  height: 100%;/* Taille du Fond d'écran*/
  animation-name: background; /* Animation du fond d'écran*/
  animation-duration: 1s;
  background: linear-gradient(70deg, #2980B9, #1ABC9C); /*Dégradé*/
}
img
{
  width: 30%;
  height: auto;
  margin-left: 34%;
  margin-top: 10%;
}
a { /* Bouton retour*/
  margin-left: 47%;
  max-width: 5%;
  background-color:none;
  text-decoration:none;
  text-align:center;
  color:white;
  padding: 7px 7px 7px 7px;
  display: block;
  border: 2px solid transparent;
  margin-block-start:3%;
  font-family: 'Oswald', sans-serif;

}

a:hover {
  padding: 7px 7px 7px 7px;
  max-width: 5%;
  background-color:none;
  display: block;
  border-radius: 10px;
  color:white;
  border: 2px solid;
  text-align:center;
}
li
{
  margin-left: 43%;
  color: white;
  font-family: 'Sriracha', cursive;
}
@keyframes background { /*Animation fon d'écran*/
  0% {background-color: white;}
  10% {background: linear-gradient(70deg, #51B0F0, #1ABC9C);}
  20% {background: linear-gradient(70deg, #4AAAEA, #1ABC9C);}
  30% {background: linear-gradient(70deg, #44A5E5, #1ABC9C);}
  40% {background: linear-gradient(70deg, #389CDE, #1ABC9C);}
  50% {background: linear-gradient(70deg, #3498D9, #1ABC9C);}
  60% {background: linear-gradient(70deg, #3195D6, #1ABC9C);}
  70% {background: linear-gradient(70deg, #2E90CF, #1ABC9C);}
  80% {background: linear-gradient(70deg, #2C8CCA, #1ABC9C);}
  90% {background: linear-gradient(70deg, #2B88C5, #1ABC9C);}
  100% {background: linear-gradient(70deg,#2980B9, #1ABC9C);}
}
