html
{
  height: 100%; /* taile page */
  animation-name: background;/* Animation du fond d'écran*/
  animation-duration: 1s;
  background: linear-gradient(70deg, #1ABC9C,#2980B9 ); /*Dégradé*/
}


ul {
  padding:20; /* Marge haut*/
  margin:10; /* Marge gauche*/
  list-style-type:none;
}
li {
  margin-left:20px;
  float:left; /*pour IE*/
}
ul li a {
  margin-left: 10px;
  background-color:none;
  text-decoration:none;
  text-align:center;
  color:white;
  padding: 7px 7px 7px 7px;
  animation: anim 1s ease-out 1 both;
  display: block;
  border: 2px solid transparent;
  font-family: 'Oswald', sans-serif;
}

ul li a:hover {
  background-color:none;
  display: block;
  border-radius: 10px;
  color:white;
  border: 2px solid;
  text-align:center;
}


.retour /* Bouton "home"*/
{

  float: right;
  background-color:none;
  text-decoration:none;
  text-align:center;
  color:white;
  padding: 7px 7px 7px 7px;
  animation: anim 1s ease-out 1 both;
  display: block;
  border: 2px solid transparent;
  font-family: 'Oswald', sans-serif;

}

.retour:hover {
  background-color:none;
  display: block;
  border-radius: 10px;
  color:white;
  border: 2px solid;
  text-align:center;
}

/*Formulaire de Contact*/

form {
  padding-top: 5%;
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
}
h1
{
  padding-top: 15%;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  background-color:none;
  display: block;
  color:white;
  font-family: 'Oswald', sans-serif;
}
form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  color: white;
}

input, textarea {


  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  height: 30px;
  box-sizing: border-box;

  background-color: #DEDDDA;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border-radius: 5px;
  border: 1px solid;
}


textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}


button {
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  padding: 7px 7px 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

button:hover
{
  padding: 7px 7px 7px 7px;
  background-color:none;
  display: inline-block;
  border-radius: 10px;
  color:white;
  border: 2px solid;
  font-family: 'Oswald', sans-serif;
  text-align:center;
}

@keyframes background {
  0% {background:  linear-gradient(70deg, #2980B9, #1ABC9C);}
  10% {background: linear-gradient(70deg, #1ABC9C, #51B0F0);}
  20% {background: linear-gradient(70deg, #1ABC9C, #4AAAEA);}
  30% {background: linear-gradient(70deg, #1ABC9C, #44A5E5);}
  40% {background: linear-gradient(70deg, #1ABC9C, #389CDE);}
  50% {background: linear-gradient(70deg, #1ABC9C, #3498D9);}
  60% {background: linear-gradient(70deg, #1ABC9C, #3195D6);}
  70% {background: linear-gradient(70deg, #1ABC9C, #2E90CF);}
  80% {background: linear-gradient(70deg, #1ABC9C, #2C8CCA);}
  90% {background: linear-gradient(70deg, #1ABC9C, #2B88C5);}
  100% {background: linear-gradient(70deg,#1ABC9C, #2980B9);}
}

@keyframes anim{
  from{
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
