body
{
  margin:0;
  height:100vh;
}

input, button {
  position:relative;
  top:20px;
  right:0px;
  left: 40%;
  width: 30%;
  height: 10%;
  padding: 12px 20px;
  border: 2px solid #848484;
  border-radius: 4px;
  margin:5px;
}

input[type=text]:focus, input[type=password]:focus,input:hover
{
  border: 2px solid #0254D9;
}

button[type=submit]
{
  width: 30%;
  background-color: transparent;
  border: 2px solid transparent;
  color: #848484;
  padding: 7px 7px 7px 7px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

button:hover
{
  border-radius: 10px;
  color:#0254D9;
  border: 2px solid;
  font-family: 'Oswald', sans-serif;
}
a /*Se connecter.*/
{
  float: right;
  margin: 40px;
  font-size: 20px;
  color: #848484;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}
