
html
{
  height: 100%; /* Taille de la page + Adjust background*/
  animation-name: background; /* Animation background*/
  animation-duration: 1s;
  background: linear-gradient(70deg, #2980B9, #1ABC9C); /*Dégradé*/
}

div
{
  background-color: white;
  color: black;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-top:2px solid;
  border-bottom: none;

  display: inline-block;
}

ul {
  padding:30; /* Marge haut*/
  margin:20; /* Marge gauche*/
  list-style-type:none;
}
li {
  margin-left:50px;
  float:left; /*pour IE*/
}

button
{
  background-color: transparent;
  border: 2px solid transparent;
  color: black;
  display: inline-block;

}
a
{
    color:white;
}

 a, button {
  margin-left: 10px;
  background-color:none;
  text-decoration:none;
  text-align:center;
  padding: 7px 7px 7px 7px;
  animation: anim 1s ease-out 1 both;
  display: block;
  border: 2px solid transparent;
  font-family: 'Oswald', sans-serif;

}

  a:hover,button:hover {
  background-color:none;
  display: block;
  border-radius: 10px;
  border: 2px solid;
  text-align:center;
}
.image_profil
{
  border-radius: 30px;
  border: 3px solid black;
  width:20%; /* you can use % */
  height: auto;
  float:right;
  margin:10% 10% 0 40%;
  -moz-transition: margin-top 1.5s;
  transition: margin-top 1.5s;
}

.main_paragraph
{
  position: absolute;
  top: 40%;
  left: 5%;
  color:white;

  animation: anim 1s ease-out 1 both;
  display: inline-block;
  font-family: 'Sriracha', cursive;
}
@keyframes background {
  0% {background-color: white;}
  10% {background: linear-gradient(70deg, #51B0F0, #1ABC9C);}
  20% {background: linear-gradient(70deg, #4AAAEA, #1ABC9C);}
  30% {background: linear-gradient(70deg, #44A5E5, #1ABC9C);}
  40% {background: linear-gradient(70deg, #389CDE, #1ABC9C);}
  50% {background: linear-gradient(70deg, #3498D9, #1ABC9C);}
  60% {background: linear-gradient(70deg, #3195D6, #1ABC9C);}
  70% {background: linear-gradient(70deg, #2E90CF, #1ABC9C);}
  80% {background: linear-gradient(70deg, #2C8CCA, #1ABC9C);}
  90% {background: linear-gradient(70deg, #2B88C5, #1ABC9C);}
  100% {background: linear-gradient(70deg,#2980B9, #1ABC9C);}
}

@keyframes anim{
  from{
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
