h1
{
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

.main_table{
  margin-top: 6%;

  width: 100%;
}

.center_table
{
  float:right;
}

.right_table
{
  padding-bottom: 130px;
}

input, textarea {
  float: right;
  width: 200px;
  height: 20px;/*80*/
  padding: 12px 20px;/*96*/
  border: 2px solid #848484;
  border-radius: 4px;
  margin:5px;
}

input:focus,input:hover, textarea:hover,textarea:focus
{
  border-radius: 10px;
  border: 2px solid #0254D9;
}

textarea
{
  min-height: 70px;
  min-width: 300px;
  max-height: 70px;
  max-height: 300px;
}
.save_button
{
  width: 100%;
  background-color: transparent;
  border: 2px solid transparent;
  color: #848484;
  padding: 7px 7px 7px 7px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.save_button:hover
{
  border-radius: 10px;
  color:#0254D9;
  border: 2px solid;
  font-family: 'Oswald', sans-serif;
}

.button_logout
{
  width: 15%;
  float: right;
  background-color: transparent;
  border: 2px solid transparent;
  color: #848484;
  padding: 7px 7px 7px 7px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.button_logout:hover
{
  border-radius: 10px;
  color:red;
  border: 2px solid;
}
