<p>Bonjour,</p>
<p>J'espère que vous allez bien et que vous avez passé de bonne vacance. </p>
<br>
<p>Je vous remet mon site disponnible de deux manière différentes, à vous de choisir. :)</p>

<p>
1:    La première, traditionelle via cette adresse <a href="site.home-cloud.fr">site.home-cloud.fr</a> qui vous redirige sur mon site web, hébergé sur mon serveur.
<br>
2:    La deuxième méthode un peux moins traditionnel mais plus intéressante. Comme vous le savez, j'apporte une grande importance à la vie privée, je suis depuis longtemps un utlisateur de tor mais le mini  projet web m'a permit d'en apprendre d'aventage et de crée mon premier serveur tor. voici le lien : <a href="http://aaa3rmyjhtkkktyl43htewox2zakbvt47fqpc2n45nyhzxzdoz23hbyd.onion">http://aaa3rmyjhtkkktyl43htewox2zakbvt47fqpc2n45nyhzxzdoz23hbyd.onion</a>

<br>
<br>
Voilà à vous de choisir soit l'internet "traditionel" ou le deepnet. Quoi qu'il en soit les deux liens offre les mêmes possibilitées, je vous invite à tester la page "contact" ainsi que la page "connexion" éventuellemnt vous créer un compte pour y découvrir toutes les fonctionalitées.
<br>
<br>
Les codes sources sont disponnible à cette adresse : <a href="https://www.home-cloud.fr/s/6d7NJ2SrixbEx4o">https://www.home-cloud.fr/s/6d7NJ2SrixbEx4o</a>
Vous y trouverez un readme.md qui explique la configuration du site web...
<br>
<br>
Pour les listes elles sont bien présentes mais cachées.<br>

Deux liste non numéroté sont présentes dans les fichier index.php et contact.html(Sous forme horizontal).

La liste numéroté se situe dans la page erreur 404.html accessible en rentrant n'importe quoi dans la barre d'url (n'est pas disponnible sur le serveur tor).
<br>
<br>
Bonne journée
</p>
