@font-face {
  font-family: 'TheAntiquaB';
  src: url('fonts/TheAntiquaB_LT_700_i.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body
{
  margin: 0;
  background-color: #F5F6F8;
}

img
{
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 10px grey;
}

header
{
  margin: 0;
  font-family: 'TheAntiquaB'; /*Setup the font */
  width: 70%;
}

.contener
{
  background-color: white;
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

.contenant
{
  font-family:'Sriracha', cursive;
  padding-top: 1%;
  width: 96%;
  margin-left: 2%;
  margin-right: auto;
}

.contenant img
{

width: 50%;
height: auto;
}

.title
{
  opacity: 0.75;
  font-size: 200%;
}

.texte
{
  width: 70%;
  opacity: 0.6;
}
