
.bubbles
{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height:auto;
  z-index: -1;
  top :0;
  left: 0;
  bottom: 0;
}

.bubble
{
  position: absolute;
  bottom: -100px;
  background: #f1f1f1f1;
  border-radius: 50%;
  opacity: 0.3;
  animation: test 10s  infinite ease-in;
  animation: flying 10s infinite ease-in;
}

.bubble:nth-child(1)
{
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 10s;
}

.bubble:nth-child(2)
{
  width: 60px;
  height: 60px;
  left: 15%;
  animation-duration: 8s;
}
.bubble:nth-child(3)
{
  width: 30px;
  height: 30px;
  left: 20%;
  animation-duration: 6s;
}
.bubble:nth-child(4)
{
  width: 50px;
  height: 50px;
  left: 40%;
  animation-duration: 5s;
}
.bubble:nth-child(5)
{
  width: 40px;
  height: 40px;
  left: 50%;
  animation-duration: 14s;
}
.bubble:nth-child(6)
{
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 4s;
}
.bubble:nth-child(7)
{
  width: 40px;
  height: 40px;
  left: 60%;
  animation-duration: 7s;
}
.bubble:nth-child(8)
{
  width: 60px;
  height: 60px;
  left: 70%;
  animation-duration: 15s;
}
.bubble:nth-child(9)
{
  width: 30px;
  height: 30px;
  left: 75%;
  animation-duration: 12s;
}

.bubble:nth-child(10)
{
  width: 60px;
  height: 60px;
  left: 80%;
  animation-duration: 8s;
}
.bubble:nth-child(11)
{
  width: 30px;
  height: 30px;
  left: 85%;
  animation-duration: 6s;
}
.bubble:nth-child(12)
{
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 11s;
}



@keyframes flying {
  0%{
    bottom: -100px;
    transform: translateX(0);
  }
  50%
  {
    transform: translateX(100px);
  }
  100%
  {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
