/**************************/
/*Fonts*/
/*************************/

/* Import the differents fonts from local files*/
@font-face {
  font-family: 'BeonRegular';
  src: url('fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beon';
  src: url('fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/**************************/
/*General*/
/*************************/
html
{

  /* page size */
  min-height: 100%;
  height: auto;

  /* Animation background*/
  animation-name: background;
  animation-duration: 1s;

  /*The background at the end of the animation*/
  background: linear-gradient(70deg, #2980B9, #1ABC9C); /*Dégradé*/
  background-repeat: no-repeat;
}

.cv
{
  width: 50%;

  margin-left: auto ;/*div to the center*/
  margin-right: auto ;

  border: 2px solid black;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*Add a shadow*/

  animation: anim 1s ease-out 1 both; /*Calle the animation "anim"*/
}


.style_list_none
{
  list-style: none;
  padding-left: 5%;
}


.btn_back
{
  color: white;
  text-decoration: none;

  padding: 7px 7px 7px 7px;
  border: 2px solid transparent;

  font-family: 'BeonRegular';
  font-weight: normal;
  font-style: normal;

  animation: anim 2s ease-out 1 both;
}

.btn_back:hover
{
  border-radius: 10px;
  border: 2px solid;
}



/**************************/
/*The top of the CV*/
/*************************/
header
{
  padding: 1%;
  text-align: right;

  color: white;
  background-color: green;

  font-family: 'BeonRegular'; /*Setup the font */
  font-weight: normal;
  font-style: normal;
}

header img
{
  float: left;
  width:25%;
  height:auto;
}

header h2,H5
{
  padding-right: 10%; /*Put my name and my classe at 10% of the right*/
}

h3
{
  font-family: 'BeonRegular'; /*Setup the font for the title*/
  font-weight: normal;
  font-style: normal;
}



/**************************/
/*The right part of the cv*/
/*************************/
.mainDiv_right
{
  background-color: white;
  width:63%;
  float:right;
}

.img_liens /*Second image, with location, email...*/
{
  width: 90%;
  height: auto;
  float: right;
  margin-right: 5%;
  margin-bottom: 10%;
}

.title_in_aside_right /*sub-title in the right, background is grey*/
{
  float: right;
  height: 3%;
  width: 80%;
  padding-left: 10%;


  text-align: left;
  font-family: 'BeonRegular';
  font-weight: normal;
  font-style: normal;

  border-radius: 20px 0 0 20px;
  background-color: #B8B5B4; /*Grey*/
}

.paragraphe_aside_right
{
  width: 80%;
  float: right;

  padding-top: 1%;
  padding-right: 5%;
  padding-bottom: 3%;

  text-align: justify;
}



/**************************/
/*The left part of the cv*/
/*************************/
.aside_left /*FORMATIONS, LANGUES...*/
{
  height: auto;
  width: 35%;
  padding: 1%;

  background-color: #B8B5B4;/*Grey*/
}

#topLeftPart
{
  padding-top: 30%;
}

.apps_img_in_asside_left
{
  width: 60%;
  height: auto;
}

.social_img_in_asside_left
{
  max-width: 75px;
  width: 100%;
  height: auto;
}

ul li img
{
  width:5%;
  height:auto;
}

#tableSocialNetwoks
{
  width:60%;
}



/**************************/
/*footer*/
/*************************/
#footer
{
  padding:2%;
  background-color:green;
}



/**************************/
/*Animations*/
/*************************/
@keyframes background { /*Init the transition for the background*/
  0% {background-color: white;}
  10% {background: linear-gradient(70deg, #51B0F0, #1ABC9C);}
  20% {background: linear-gradient(70deg, #4AAAEA, #1ABC9C);}
  30% {background: linear-gradient(70deg, #44A5E5, #1ABC9C);}
  40% {background: linear-gradient(70deg, #389CDE, #1ABC9C);}
  50% {background: linear-gradient(70deg, #3498D9, #1ABC9C);}
  60% {background: linear-gradient(70deg, #3195D6, #1ABC9C);}
  70% {background: linear-gradient(70deg, #2E90CF, #1ABC9C);}
  80% {background: linear-gradient(70deg, #2C8CCA, #1ABC9C);}
  90% {background: linear-gradient(70deg, #2B88C5, #1ABC9C);}
  100% {background: linear-gradient(70deg,#2980B9, #1ABC9C);}
}

/*Anime for the div 'cv' during the loading of the website*/
@keyframes anim{
  from{
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
